body {
	background-color: #a1a1a1;
}

#grid-col {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}
   
div.cell {
	background: LightBlue;
	border: 1px solid Blue;
	padding: 10px;
}
  